@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import'normalize.scss';
* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: Quicksand, sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.6;
	color: #fff;
	min-height: 100%;
	position: relative;
	// background-repeat: no-repeat;
	// background-position: right center;
	// background-size: auto 100%;
}
.account {
	background-image: linear-gradient(to bottom left, rgba(200,116,217, .7), rgba(43,33,169, .9) );
	 // url(../img/1.jpg); 
	position: absolute;
	width: 100%;
	max-width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// margin-right: 7rem;
	padding: 70px;
	
	&__link-top {
		font-weight: bold;
		font-size: 1.8rem;
		color: #fff;
		margin: 0 20px  0 0 ;
		text-decoration: none;
		&:active, 
		&:hover, 
		&:focus {
			border-bottom: 2px solid #e66a64;
		}
		
	}
	&__enter {
		// display: block;
		border: none;
		margin: 5rem 0 0 0;
		padding: 0;
	}
	&__name {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		// padding: 10px 0;
	}
	&__label {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		
	}
	&__field {
		display: block;
		width: 100%;
		font-size: 1.4rem;
		line-height: 3;
		margin: 10px 0;
		background-color: transparent;
		&:active, 
		&:hover, 
		&:focus {
			outline: 0;
			// outline-offset: 0;
		}
	}
	&__box  {
	position: absolute;
	// top: 64%;
	// left: 38%;
	// transform: translate(-50%, -50%);
}
	&__checkbox:before {
	content: '';
	width: 15px;
	height: 15px;
	top: 0;
	right: 0px;
	position: relative;
	background-color: #23ae92;
	display: inline-block;
	visibility: visible;
	}
	&__checkbox:checked:after {
	content: '\2713';
	width: 20px;
	height: 20px;
	top: -18px;
	left: 2px;
	color: #fff;
	position: relative;
	display: inline-block;
	visibility: visible;
	}

	&__button {
		color: #fff;
		font-size: 1.8rem;
		font-weight: 1rem;
		background-color: #23ae92;
		width: 100%;
		padding: 1rem ;
		margin: 4rem 0 3rem 0;
		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
			color: #23ae92;
		}
	}
	&__link-bottom {
		font-size: 1.3rem;
		font-weight: 400;
		color: #333;
		margin: 0 20px 0 0 ;
		text-decoration: none;
		border-bottom: 1px solid #333;
		&:active, 
		&:hover, 
		&:focus {
			border-bottom: 1px solid #e66a64;
		}
}
}
